<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Table with Sidebar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/asset/css/sidebar.css}"/>

</head>
<body>
<div class="sidebar">
    <h3>Navigate to:</h3>
    <ul>
        <li><a href="/admin/dashboard">product</a></li>
        <li><a href="/categories">categories</a></li>
        <li><a href="/orders/management">Orders</a></li>


    </ul>
</div>

<div class="content">
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
        Add Product
    </button>
    <form >
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>category_id</th>
                    <th>category_name</th>
                    <th>category_description</th>
                    <th>category_status</th>
                    <th colspan="2">Pro_action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${categoriesList}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.description}"></td>
                    <td th:text="${c.status}"></td>
                    <td>
                        <a th:href="'/admin/categories/editInit/'+${c.id}" th:value="${c.id}">Edit</a>
                    </td>
                    <td>
                        <a th:href="'/admin/categories/delete/' + ${c.id}" th:value="${c.id}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="pagination">
        <p th:each="i : ${#numbers.sequence(1,totalPages)}">
            <a th:href="@{'/categories?currentPage='+${i - 1}}" th:text="${i}" class="page active">1</a>
        </p>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="productForm" method="POST" action="/categories/add"  th:object="${category}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Product Name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter Product Description" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="categories">Category</label>
                            <select class="form-control" id="categories" th:field="*{status}">
                                <option th:value="false">false</option>
                                <option th:value="true">true</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" form="productForm" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>
