<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang không tồn tại</title>
    <link rel="stylesheet" th:href="@{/asset/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/asset/css/footer.css}"/>
</head>
<body>
<!--<header th:replace="/layout/header::header">-->
<!--</header>-->
<h1>Page not found!</h1>
<a th:href="@{/home}"> Go Back To Home Page</a>
<!--<footer th:replace="/layout/footer::footer">-->
</footer>
</body>
</html>