<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/success.css}">

</head>
<body>
<div className="success-container">
    <h2 class="success-title">Order Successfully Placed</h2>
    <p class="sub-description">Thank you for your order.</p>
    <h3 class="success-detail">Order Details:</h3>
    <button className="btn-order-received"
    >
        <a href="/home">Go To Home Page</a>
    </button>
</div>
</body>
</html>